<div id="footer">
  Generated on <%= Time.now.strftime("%c") %> by
  <a href="https://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>)
  using <a href="<%= `git config --get remote.origin.url` %>" title="Rei_Fan49's YARDoc Aggregator" target="_parent">Rei_Fan49's YARDoc Aggregator</a>.
</div>
